h1{
    color: salmon;
}

.color{
    background-color: transparent;
    background-image: url(/Assets/tienda-virtual-logo-1575566940.jpg);
}

a{
    font-size:x-large;
    color:black;
}

h3{
    text-align: center;
    color: royalblue;
    background-color: beige;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
}

.p{
    background-color: rgb(117, 117, 212);
    color: whitesmoke;
}

.section{
    background-color: grey;
    height: 50px;
    box-shadow: 
        5px 5px 20px,
        10px 10px 10px;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}