body{
    background-color: black;
}

h1{
    color: whitesmoke;
}

.color{
    background-color: transparent;
    background-image: url(/Assets/tienda-virtual-logo-1575566940.jpg);
}

a{
    font-size:x-large;
    color:black;
}

p{
    background-color: blue;
    color: whitesmoke;
}

.section{
    background-color: grey;
    height: 50px;
    box-shadow: 
        5px 5px 20px,
        10px 10px 10px;
}