body{
    background-color: black;
}

.color{
    background-color: white;
}

a{
    font-size:x-large;
    color:aliceblue;
}

.p{
    background-color: blue;
    color: whitesmoke;
}

.s{
    background-color: gray;
    box-shadow: 0px 10px 30px black inset;
}